/* GENERALES---------*/
* {box-sizing: border-box;}

html, body {
    padding: 0%;
    margin: 0%;
    height: 100vh;
}

body{
    display: flex;
    font-family: 'Lexend Deca', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}


/*Principal-----------*/
.principal{
    
    display: flex;
    min-width: 320px;
    max-width: 768px;
    align-items: center;
    justify-content: center;
}

/*Columnas----------*/
.columna{
    color: white;
    padding: 2rem;
    width: 25%;
    overflow: hidden;
    transition: width .3s ease-in-out;
    cursor: pointer;
}


.columna:first-of-type{
    border-radius: 1rem 0 0 1rem;
}
.columna:last-of-type{
    border-radius: 0 1rem 1rem 0;
}

.sedan{
    background-color: hsl(31, 77%, 52%);
}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

/*Título, texto y botón------------*/
.titulo{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
   
}

.texto{
    font-size: 14px;
    margin-bottom: 5rem;
}

.enlace{
    text-decoration: none;
    background-color: lightgray;
    border-radius: 1rem;
    padding: .5rem 1rem;
    font-size: 12px;
}
.enlace:hover{
    background-color: transparent;
}

.sedan .enlace{
    color: hsl(31, 77%, 52%);
}
.suv .enlace{
    color: hsl(184, 100%, 22%);
}
.luxury .enlace{
    color: hsl(179, 100%, 13%);
}

.sedan .enlace:hover{
    color: white;
    border-style:double;
}
.suv .enlace:hover{
    color: white;
    border-style:double;
}
.luxury .enlace:hover{
    color: white;
    border-style:double;
}

/*RESPONSIVE------------------------------------------------------------------*/
@media screen and (max-width: 730px){
    body {
        display: inherit;
        padding: 2rem;
    }

   .principal{
    display: inherit;
    margin: auto;
   }

   .columna{
    margin:auto;
    width: 250px;
   }

   .columna:first-of-type{
    border-radius:inherit;
   }

   .columna:last-of-type{
    border-radius:inherit;
   }
  
}

    


 
